@{
    ViewBag.Title = "GenshinImpact";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <!-- add links of CSS and JavaScript and Fonts-->
    <link rel="stylesheet" href="~/wwwroot/css/Layout.css">
    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Maven+Pro:wght@500;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- js -->
    <script type="text/javascript" src="https://api.map.baidu.com/api?v=1.0&&type=webgl&ak=SS8266fxEG4qZ6AHRc8pI5NwncqpVq08">
    </script>
    
</head>
<body>
    @RenderBody()

    <!-- nav -->
    <header>
        <div class="logo">
            <img class="logo1" src="~/wwwroot/image/logoG.png" alt="Logo">
            <img class="logo2" src="~/wwwroot/image/mihoyo.png" alt="HoYo">
        </div>
        <nav>
            <ul>
                <li><a href="@Url.Action("Index", "Home")" class="nav-item">Home</a></li>
                <li><a href="@Url.Action("News", "Home")" class="nav-item">News</a></li>
                <li><a href="@Url.Action("World", "Home")" class="nav-item">World</a></li>
                <li><a href="@Url.Action("Character", "Home")" class="nav-item">Character</a></li>
                <li>@Html.ActionLink("Element", "Index", "Elements", new { area = "" }, new { @class = "nav-link" })</li>
                <li>@Html.ActionLink("Atlas", "Index", "Characters", new { area = "" }, new { @class = "nav-link" })</li>
            </ul>
            @using (Html.BeginForm("Index", "Characters", FormMethod.Get, new { @class = "navbar-form navbar-left" }))
            {
                <div class="input-group">
                    <!-- add a input-group container -->
                    <div class="form-group">
                        @Html.TextBox("Search", null, new { @class = "form-control", @placeholder = "Search Characters", style = "width: 150px; background-color: lightblue; color: darkblue;" })
                    </div>
                </div>
            }
        </nav>
    </header>

    <script src="~/wwwroot/js/changeColor.js"></script>



    <!-- music   -->
    <audio id="myAudio" controls="controls" autoplay="autoplay" loop>
        <source src="~/wwwroot/audioMusic/Liyue.ogg" type="audio/ogg" />
    </audio>

    <script>
        var audio = document.getElementById("myAudio");

        
        document.addEventListener("click", function () {
           
            if (audio.paused) {
                audio.play();
            }
        });
    </script>



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)


</body>
</html>
