@model WebApplication222222.ViewModels.CharacterIndexViewModel
@using PagedList.Mvc
@{
    ViewBag.Title = "Index";
}

<head>
    <!-- css link -->
    <link rel="stylesheet" href="~/wwwroot/css/Atlas.css">
</head>

<body>

    <!-- main content -->
    <h2><br></h2>
    <div class="ying">
        <img src="~/wwwroot/image/ying.png" alt="ying">
    </div>
    <div class="kong">
        <img src="~/wwwroot/image/kong.png" alt="kong">
    </div>
    <h4 class="character-intro">
        There are a lot of characters in the Genshin Impact. The characters are
        divided into several camps. There are seven elements: Pyro, Hydro, Anemo, Electro, Dendro, Cryo,
        and Geo. Each character has its own unique skills. At present, there are 72 actual characters
        included in the atlas, including 39 five-star characters and 33 four-star characters.
    </h4>

    <!-- filter -->
    <div class="filter-form">
        <p>
            @(String.IsNullOrWhiteSpace(Model.Search) ? "Showing all" : "You search for " + Model.Search + " found") @Model.Characters.TotalItemCount character
        </p>

        @using (Html.BeginForm("Index", "Characters", FormMethod.Get, new { @class = "form-inline" }))
        {
            <div class="form-group">
                <label for="Element">Filter by Element:</label>
                @Html.DropDownListFor(vm => vm.Element, Model.CatFilterItems, "All", new { @class = "form-control" })
            </div>

            <div class="form-group">
                <label for="SortBy">Sort By:</label>
                @Html.DropDownListFor(vm => vm.SortBy, new SelectList(Model.Sorts, "Value", "Key"), "Default", new { @class = "form-control" })
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Filter</button>
            </div>

            @Html.HiddenFor(vm => vm.Search)
        }
    </div>



    <!-- table -->
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Element)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Characters.First().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Characters.First().Nationality)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Characters.First().Rerun)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Characters)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Element.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nationality)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rerun)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "no-style-link" })
                </td>

            </tr>
        }

    </table>

    <!-- pagedlist -->
    <div>
        Page @(Model.Characters.PageCount < Model.Characters.PageNumber ? 0 : Model.Characters.PageNumber) of @Model.Characters.PageCount
        @Html.PagedListPager(Model.Characters, page => Url.Action("Index", new
        {
        element = @Model.Element,
        Search = @Model.Search,
        sortBy = @Model.SortBy,
        page
        }))
    </div>



    <!-- footer -->
    <footer>

        <!-- word -->
        <div class="contact-info">
            <div class="info">
                <a class="label">Email</a>
                <a class="value">13611451958@qq.com</a>
            </div>

            <div class="info">
                <a class="label">Phone number</a>
                <a class="value">+86-10-43-62</a>
            </div>

            <div class="info">
                <a class="value HoYo">HoYoverse  </a>
            </div>

        </div>

        <!-- message board -->
        <div class="message-board">
            <h4>message board</h4>
            <div class="message-input">
                <input type="text" id="message" placeholder="typing some words here">
                <button id="submit">submit</button>
            </div>
            <ul class="message-list" id="message-list">
                
            </ul>
            
            <div id="successMessage" style="display: none;"></div>
        </div>
        <script src="~/wwwroot/js/board.js"></script>


        <!-- map -->
        <div class="location">
            <!-- use Baidu Maps insert map-->
            <div id="container"></div>
            <script>
                var map = new BMapGL.Map("container");
                var point = new BMapGL.Point(121.423258, 31.182332);
                map.centerAndZoom(point, 18);
                map.enableScrollWheelZoom(true);
                map.addControl(new BMap.NavigationControl())
                map.addControl(new BMap.OverviewMapControl());
                map.addControl(new BMap.LocationControl());

            </script>


            <!-- icon -->
        </div>
        <div class="social-media">
            <!-- icon of social media and some links -->
            <a href="https://www.facebook.com"><img src="~/wwwroot/image/Facebook.png" alt="Facebook"></a>
            <a href="https://www.instagram.com"><img src="~/wwwroot/image/Instagram.png" alt="Instagram"></a>
            <a href="https://www.twitter.com"><img src="~/wwwroot/image/Twitter.png" alt="Twitter"></a>
            <a href="https://www.youtube.com"><img src="~/wwwroot/image/YouTube.png" alt="YouTube"></a>
        </div>
        <div class="clear"></div>
    </footer>


</body>

